*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  box-sizing: inherit;
  font-size: 18px;
  background-color: #dfe6e9;
}

.container{
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.heading{
  padding-top: 1rem;
  text-align: center;
  font-weight: 100;
  color: #eb4d4b;
}

.empty{
  border: 3px solid #a29bfe;
  background-color: #fff;
  width: 8rem;
  height: 8rem;
  margin: 3px;
}

.fill{
  background-color: #ED4C67;
  cursor: pointer;
  position: relative;
  top: 5px;
  left: 5px;
  width: 7rem;
  height: 7rem;
}

.hold{
  border: 2px dotted #0984e3;
}

.hovered{
  background: #a39ae9;
  border-style: dashed;
}

.invisible{
  display: none;
}