body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

.button{
  background-color: #2ecc71;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.button:hover{ 
  background-color: #333; 
  transition: 0.4s ease;
  background-color: #2980b9;
}

.modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
}

.modal-content{
  background-color: #f4f4f4;
  margin: 8% auto;
  padding: 15px;
  width: 35em;
  box-shadow: 0 5px 8px 0 rgb(0, 0, 0, 0.4);
  animation-name: modalOpen;
  animation-duration: 0.8s;
}

#closeBtn{
  color: #c0392b;
  float: right;
  font-size: 30px;
}

#closeBtn:hover, #closeBtn:focus{
  cursor: pointer;
  text-decoration: none;
  color: #e74c3c;
}

@keyframes modalOpen{
  from{ opacity: 0 }
  to{ opacity: 1 }
}

@media (min-width: 481px) and (max-width: 767px) {
  .modal-content{
    margin: 10% auto;
    padding: 10px;
    width: 20em;
  }
  body{ font-size: 15px; }
}

@media (min-width: 320px) and (max-width: 480px) {
  .modal-content{
    margin: 5% auto;
    padding: 15px;
    width: 15em;
  }
  body{ font-size: 15px; }
}

@media (max-width: 320px){
  body{ font-size: 14px; }
  .modal-content{
    margin: 10% auto;
    padding: 10px;
    width: 15em;
  }
}