*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.6rem;
}

.testimonials{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  -webkit-clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  background: linear-gradient(
    to right top,
    rgba(230, 126, 34,1.0),
    rgba(192, 57, 43,1.0)
  );
  color: rgba(236, 240, 241,1.0);
}

.customer{
  border: 1px dotted rgba(236, 240, 241,1.0);
  text-align: center;
  padding: 0.8rem;
  width: 20rem;
  position: relative;
}

.customer img{
  width: 20%;
  border: 1px solid rgba(236, 240, 241,1.0);
  margin-top: 1.8rem;
}

.customer__stars{
  color: rgba(241, 196, 15,1.0);
}

.customer a{
  text-decoration: none;
  color: rgba(241, 196, 15,1.0);
  font-size: 1.8rem;
  cursor: pointer;
}

.arrow-left{
  position: absolute;
  top: 40%;
  left: 105%;
}

.arrow-right{
  position: absolute;
  top: 40%;
  left: -15%;
}

.customer a:hover{
  border-bottom: 1px dotted rgba(241, 196, 15,1.0);
}